.token-comfy {
  background-image: url('/assets/images/context-token.png');
  background-size: 100% auto;
  width: 44px; height: 44px;
}
.token-cringe {
  background-image: url('/assets/images/cringe-token.png');
  background-size: 100% auto;
  width: 44px; height: 44px;
}
